<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>New Group</h1>

    <form method="post" action="/group/new/save">
        <div class="mb-3">
            <label for="name" class="form-label">Group Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Group Name"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Add New Group</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
