<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel - Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/users">Admin Panel</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/all">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/group/all">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/lecture/all">Lectures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/student/all">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teacher/all">Teachers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Admin Panel - Users</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td class="h6" th:text="${user.getId}"></td>
            <td th:text="${user.getUserName}"></td>
            <td th:text="${user.getEmail}"></td>
            <td th:text="${user.getRoles()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a href="/users/add" class="btn btn-success">Add User</a>

    <form method="POST" action="/users/edit">
        <button type="submit" class="btn btn-primary">Get role to user</button>
    </form>

    <form method="POST" action="/users/delete/page">
        <button type="submit" class="btn btn-danger">Delete User</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
